
<h2>Alerts</h2>

<Alert Id="alert-primary" ComponentStyle="ComponentStyle.Primary">Primary Alert</Alert>
<Alert Id="alert-secondary" ComponentStyle="ComponentStyle.Secondary">Secondary Alert</Alert>
<Alert Id="alert-success" ComponentStyle="ComponentStyle.Success">Success Alert</Alert>
<Alert Id="alert-danger" ComponentStyle="ComponentStyle.Danger">Danger Alert</Alert>
<Alert Id="alert-warning" ComponentStyle="ComponentStyle.Warning">Warning Alert</Alert>
<Alert Id="alert-info" ComponentStyle="ComponentStyle.Info">Info Alert</Alert>
<Alert Id="alert-light" ComponentStyle="ComponentStyle.Light">Light Alert</Alert>
<Alert Id="alert-dark" ComponentStyle="ComponentStyle.Dark">Dark Alert</Alert>


<h3>Dismissible Alerts</h3>

<Alert Id="dismissible-alert" ComponentStyle="ComponentStyle.Warning" IsDismissible="true">
    <h4 class="@ClassNames.Alerts.Heading">Woopsie!</h4>
    <p>This is a dismissible alert that you can dismiss by clicking the close button in the upper right corner.</p>
</Alert>
