
<Heading Level="HeadingLevel.H2">Alerts</Heading>

<Alert id="alert-primary" Color="ComponentColor.Primary">Primary Alert</Alert>
<Alert id="alert-secondary" Color="ComponentColor.Secondary">Secondary Alert</Alert>
<Alert id="alert-success" Color="ComponentColor.Success">Success Alert</Alert>
<Alert id="alert-danger" Color="ComponentColor.Danger">Danger Alert</Alert>
<Alert id="alert-warning" Color="ComponentColor.Warning">Warning Alert</Alert>
<Alert id="alert-info" Color="ComponentColor.Info">Info Alert</Alert>
<Alert id="alert-light" Color="ComponentColor.Light">Light Alert</Alert>
<Alert id="alert-dark" Color="ComponentColor.Dark">Dark Alert</Alert>


<Heading Level="HeadingLevel.H3" MarginTop="Spacing.Five">Dismissible Alerts</Heading>

<Alert id="dismissible-alert" Color="ComponentColor.Warning" IsDismissible="true">
    <h4 class="@ClassNames.Alerts.Heading">Woopsie!</h4>
    <p>This is a dismissible alert that you can dismiss by clicking the close button in the upper right corner.</p>
</Alert>
