<Heading Level="HeadingLevel.H2">Alerts</Heading>

<Alert id="alert-primary" Color="NamedColor.Primary">Primary Alert</Alert>
<Alert id="alert-secondary" Color="NamedColor.Secondary">Secondary Alert</Alert>
<Alert id="alert-success" Color="NamedColor.Success">Success Alert</Alert>
<Alert id="alert-danger" Color="NamedColor.Danger">Danger Alert</Alert>
<Alert id="alert-warning" Color="NamedColor.Warning">Warning Alert</Alert>
<Alert id="alert-info" Color="NamedColor.Info">Info Alert</Alert>
<Alert id="alert-light" Color="NamedColor.Light">Light Alert</Alert>
<Alert id="alert-dark" Color="NamedColor.Dark">Dark Alert</Alert>



<Heading Level="HeadingLevel.H3" MarginTop="Spacing.Five">Dismissible Alerts</Heading>

<Alert id="dismissible-alert-1" Color="NamedColor.Success" IsDismissible="true" FadeOnDismiss="true">
    Just an alert that you can fade out.
</Alert>
<Alert id="dismissible-alert-2" Color="NamedColor.Danger" IsDismissible="true" FadeOnDismiss="false">
    Another alert that has no other purpose then showing you how you dismiss it.
</Alert>
<Alert id="dismissible-alert-3" Color="NamedColor.Warning" IsDismissible="true" FadeOnDismiss="true">
    <Heading Level="HeadingLevel.H4">Woopsie!</Heading>
    This is a dismissible alert that you can dismiss by clicking the close button in the upper right corner.
</Alert>

@code { private Alert DismissibleAlert; }
<Alert Color="NamedColor.Light" IsDismissible="true" FadeOnDismiss="true" @ref="this.DismissibleAlert" Shadow="ShadowSize.Small">
    <AlertHeading>Custom Dismissal</AlertHeading>
    <ChildContent>
        This alert can be dismissed from outside of the component, by clicking on the button below.
    </ChildContent>
</Alert>
<Button Color="NamedColor.Primary" OnClick="async () => await this.DismissibleAlert.DismissAsync()">Dismiss</Button>


<Heading Level="HeadingLevel.H3" MarginTop="Spacing.Five">Alerts with Headings and Links</Heading>

<Alert Color="NamedColor.Info">
    <AlertHeading>This is the heading</AlertHeading>
    <ChildContent>
        This is an alert with a heading and a <AlertLink href="https://github.com/MikaBerglund/Blazor-Bootstrap" target="_blank">Link</AlertLink>.
    </ChildContent>
</Alert>

<Alert Color="NamedColor.Secondary" HeadingText="Alert Heading!">
    This is a simple alert that defines the heading text as a parameter on the Alert component, and not as a template parameter as the alert above does.
</Alert>

<Alert Color="NamedColor.White" Shadow="ShadowSize.Regular" HeadingText="Alert with Stretched Link">
    <Paragraph Margin="Spacing.Zero" IsStretchedLinkContainer="true">
        This entire text will be clickable, because <AlertLink IsStretched="true" href="https://github.com/MikaBerglund/Blazor-Bootstrap" target="_blank">this link</AlertLink> is a stretched link. The heading will not be clickable, because this paragraph is set as container for the stretched link.
    </Paragraph>
</Alert>