
<h2>Alerts</h2>

<Alert Id="alert-primary" Color="ComponentColor.Primary">Primary Alert</Alert>
<Alert Id="alert-secondary" Color="ComponentColor.Secondary">Secondary Alert</Alert>
<Alert Id="alert-success" Color="ComponentColor.Success">Success Alert</Alert>
<Alert Id="alert-danger" Color="ComponentColor.Danger">Danger Alert</Alert>
<Alert Id="alert-warning" Color="ComponentColor.Warning">Warning Alert</Alert>
<Alert Id="alert-info" Color="ComponentColor.Info">Info Alert</Alert>
<Alert Id="alert-light" Color="ComponentColor.Light">Light Alert</Alert>
<Alert Id="alert-dark" Color="ComponentColor.Dark">Dark Alert</Alert>


<h3>Dismissible Alerts</h3>

<Alert Id="dismissible-alert" Color="ComponentColor.Warning" IsDismissible="true">
    <h4 class="@ClassNames.Alerts.Heading">Woopsie!</h4>
    <p>This is a dismissible alert that you can dismiss by clicking the close button in the upper right corner.</p>
</Alert>
