
<h2>Badges</h2>

<h1>Example heading <Badge Color="ComponentColor.Primary">New</Badge></h1>
<h2>Example heading <Badge Color="ComponentColor.Primary">New</Badge></h2>
<h3>Example heading <Badge Color="ComponentColor.Primary">New</Badge></h3>
<h4>Example heading <Badge Color="ComponentColor.Primary">New</Badge></h4>
<h5>Example heading <Badge Color="ComponentColor.Primary">New</Badge></h5>
<h6>Example heading <Badge Color="ComponentColor.Primary">New</Badge></h6>


<p>You can use badges in buttons too, as counters for instance.</p>
<Button Color="ComponentColor.Primary" OnClick="IncrementBadgeCount">
    Counter <Badge Color="ComponentColor.Light">@currentBadgeCount</Badge>
</Button>

@code {
    int currentBadgeCount = 0;

    void IncrementBadgeCount()
    {
        currentBadgeCount++;
    }
}

<h3>Contextual Variations</h3>

<Badge Color="ComponentColor.Primary">Primary</Badge>
<Badge Color="ComponentColor.Secondary">Secondary</Badge>
<Badge Color="ComponentColor.Success">Success</Badge>
<Badge Color="ComponentColor.Danger">Danger</Badge>
<Badge Color="ComponentColor.Warning">Warning</Badge>
<Badge Color="ComponentColor.Info">Info</Badge>
<Badge Color="ComponentColor.Light">Light</Badge>
<Badge Color="ComponentColor.Dark">Dark</Badge>


<h3>Pill Badges</h3>

<Badge Color="ComponentColor.Primary" IsPill="true">Primary</Badge>
<Badge Color="ComponentColor.Secondary" IsPill="true">Secondary</Badge>
<Badge Color="ComponentColor.Success" IsPill="true">Success</Badge>
<Badge Color="ComponentColor.Danger" IsPill="true">Danger</Badge>
<Badge Color="ComponentColor.Warning" IsPill="true">Warning</Badge>
<Badge Color="ComponentColor.Info" IsPill="true">Info</Badge>
<Badge Color="ComponentColor.Light" IsPill="true">Light</Badge>
<Badge Color="ComponentColor.Dark" IsPill="true">Dark</Badge>

<h3>Link Badges</h3>

<Badge Color="ComponentColor.Primary" Link="#">Primary</Badge>
<Badge Color="ComponentColor.Secondary" Link="#">Secondary</Badge>
<Badge Color="ComponentColor.Success" Link="#">Success</Badge>
<Badge Color="ComponentColor.Danger" Link="#">Danger</Badge>
<Badge Color="ComponentColor.Warning" Link="#">Warning</Badge>
<Badge Color="ComponentColor.Info" Link="#">Info</Badge>
<Badge Color="ComponentColor.Light" Link="#">Light</Badge>

