
<Heading Level="HeadingLevel.H2">Badges</Heading>

<Heading Level="HeadingLevel.H1">Example heading <Badge Color="NamedColor.Primary">New</Badge></Heading>
<Heading Level="HeadingLevel.H2">Example heading <Badge Color="NamedColor.Primary">New</Badge></Heading>
<Heading Level="HeadingLevel.H3">Example heading <Badge Color="NamedColor.Primary">New</Badge></Heading>
<Heading Level="HeadingLevel.H4">Example heading <Badge Color="NamedColor.Primary">New</Badge></Heading>
<Heading Level="HeadingLevel.H5">Example heading <Badge Color="NamedColor.Primary">New</Badge></Heading>
<Heading Level="HeadingLevel.H6">Example heading <Badge Color="NamedColor.Primary">New</Badge></Heading>


<p>You can use badges in buttons too, as counters for instance.</p>
<Button Color="NamedColor.Primary" OnClick="IncrementBadgeCount">
    Counter <Badge Color="NamedColor.Light">@currentBadgeCount</Badge>
</Button>

@code {
    int currentBadgeCount = 0;

    void IncrementBadgeCount()
    {
        currentBadgeCount++;
    }
}

<Heading Level="HeadingLevel.H3" MarginTop="Spacing.Five">Contextual Variations</Heading>

<Badge Color="NamedColor.Primary">Primary</Badge>
<Badge Color="NamedColor.Secondary">Secondary</Badge>
<Badge Color="NamedColor.Success">Success</Badge>
<Badge Color="NamedColor.Danger">Danger</Badge>
<Badge Color="NamedColor.Warning">Warning</Badge>
<Badge Color="NamedColor.Info">Info</Badge>
<Badge Color="NamedColor.Light">Light</Badge>
<Badge Color="NamedColor.Dark">Dark</Badge>


<Heading Level="HeadingLevel.H3" MarginTop="Spacing.Five">Pill Badges</Heading>

<Badge Color="NamedColor.Primary" IsPill="true">Primary</Badge>
<Badge Color="NamedColor.Secondary" IsPill="true">Secondary</Badge>
<Badge Color="NamedColor.Success" IsPill="true">Success</Badge>
<Badge Color="NamedColor.Danger" IsPill="true">Danger</Badge>
<Badge Color="NamedColor.Warning" IsPill="true">Warning</Badge>
<Badge Color="NamedColor.Info" IsPill="true">Info</Badge>
<Badge Color="NamedColor.Light" IsPill="true">Light</Badge>
<Badge Color="NamedColor.Dark" IsPill="true">Dark</Badge>

<Heading Level="HeadingLevel.H3" MarginTop="Spacing.Five">Link Badges</Heading>

<Badge Color="NamedColor.Primary" Link="/" OpenLinkInNewTab="true">Primary</Badge>
<Badge Color="NamedColor.Secondary" Link="#">Secondary</Badge>
<Badge Color="NamedColor.Success" Link="#">Success</Badge>
<Badge Color="NamedColor.Danger" Link="#">Danger</Badge>
<Badge Color="NamedColor.Warning" Link="#">Warning</Badge>
<Badge Color="NamedColor.Info" Link="#">Info</Badge>
<Badge Color="NamedColor.Light" Link="#">Light</Badge>

