@using BlazorBootstrap.Components.Model

<Heading Level="HeadingLevel.H2">Breadcrumb Component</Heading>
<Paragraph>
    The <code>Breadcrumb</code> component visualizes the current page in a navigational hierarchy.
</Paragraph>

<Heading Level="HeadingLevel.H3">Documentation</Heading>
<Paragraph IsStretchedLinkContainer="true">
    The documentation for the <code>Breadcrumb</code> component is avaible on the <Anchor Url="https://github.com/MikaBerglund/Blazor-Bootstrap/wiki/Breadcrumb" IsStretched="true" OpenInNewTab="true">Blazor Bootstrap Wiki</Anchor>
</Paragraph>



@code {
    List<ILink> items = new List<ILink>()
{
        new Link(){ Url="javascript:", Text = "Home", Description="The front page of the site" },
        new Link(){ Url="javascript:", Text = "Section 1" },
        new Link(){ Url="javascript:", Text = "Section 1.1" },
        new Link(){ Text = "This page", IsActive = true, Description = "This is your current page. You are here now." }
    };
}

<Heading Level="HeadingLevel.H3" MarginTop="Spacing.Five">Simple</Heading>
<Paragraph>
    A simple <code>Breadcrumb</code> component with no customization.
</Paragraph>
<Breadcrumb Items="this.items" />

<Heading Level="HeadingLevel.H3" MarginTop="Spacing.Five">Custom Item Template</Heading>
<Paragraph>
    Shows how you can customize each item in the <code>Breadcrumb</code> component by using
    the <code>ItemTemplate</code> template property.
</Paragraph>
<Breadcrumb Items="this.items">
    <ItemTemplate>
        @if (!string.IsNullOrEmpty(context.Url))
        {
            <Button Color="NamedColor.Light" Shadow="ShadowSize.Regular" Link="@context.Url" IsLink="true">@context.Text</Button>
        }
        else
        {
            <Span>@context.Text (@context.Description)</Span>
        }
    </ItemTemplate>
</Breadcrumb>