
<h2>Breadcrumb</h2>

<Breadcrumb>
    <BreadcrumbItem Link="#">Home</BreadcrumbItem>
    <BreadcrumbItem Link="#">Section 1</BreadcrumbItem>
    <BreadcrumbItem IsActive="true">Current Page</BreadcrumbItem>
</Breadcrumb>

