@using BlazorBootstrap.Components.Model

<Heading Level="HeadingLevel.H2">Breadcrumbs</Heading>

@code {
    List<ILink> items = new List<ILink>()
    {
        new Link(){ Url="#", Text = "Home", Description="The front page of the site" },
        new Link(){ Url="#", Text = "Section 1" },
        new Link(){ Url="#", Text = "Section 1.1" },
        new Link(){ Text = "This page", IsActive = true, Description = "This is your current page. You are here now." }
    };
}

<Heading Level="HeadingLevel.H3" MarginTop="Spacing.Five">Simple</Heading>
<Breadcrumb Items="this.items" />

<Heading Level="HeadingLevel.H3" MarginTop="Spacing.Five">Custom Item Template</Heading>
<Breadcrumb Items="this.items">
    <ItemTemplate>
        @if (!string.IsNullOrEmpty(context.Url))
        {
            <Button Color="NamedColor.Light" Shadow="ShadowSize.Regular" Link="@context.Url" IsLink="true">@context.Text</Button>
        }
        else
        {
            <Span>@context.Text (@context.Description)</Span>
        }
    </ItemTemplate>
</Breadcrumb>