
<Heading Level="HeadingLevel.H2">Buttons</Heading>
<Paragraph>
    Easily create different kinds of buttons for a variety of purposes with the <code>Button</code> component.
</Paragraph>

<DocsSection ComponentName="Button" />


<Button Color="NamedColor.Primary">Primary</Button>
<Button Color="NamedColor.Secondary">Secondary</Button>
<Button Color="NamedColor.Success">Success</Button>
<Button Color="NamedColor.Danger">Danger</Button>
<Button Color="NamedColor.Warning">Warning</Button>
<Button Color="NamedColor.Info">Info</Button>
<Button Color="NamedColor.Light">Light</Button>
<Button Color="NamedColor.Dark">Dark</Button>
<Anchor Url="https://github.com" OpenInNewTab="true" class="btn btn-primary">Link</Anchor>


<Heading Id="outline-buttons" IsAnchor="true" Level="HeadingLevel.H3" MarginTop="Spacing.Five">Outline Buttons</Heading>

<Button Color="NamedColor.Primary" IsOutline="true">Primary</Button>
<Button Color="NamedColor.Secondary" IsOutline="true">Secondary</Button>
<Button Color="NamedColor.Success" IsOutline="true">Success</Button>
<Button Color="NamedColor.Danger" IsOutline="true">Danger</Button>
<Button Color="NamedColor.Warning" IsOutline="true">Warning</Button>
<Button Color="NamedColor.Info" IsOutline="true">Info</Button>
<Button Color="NamedColor.Light" IsOutline="true">Light</Button>
<Button Color="NamedColor.Dark" IsOutline="true">Dark</Button>


<Heading Id="sizes" IsAnchor="true" Level="HeadingLevel.H3" MarginTop="Spacing.Five">Sizes</Heading>
<p>Buttons come in three different sizes.</p>

<Heading Id="sizes-large" IsAnchor="true" Level="HeadingLevel.H4" MarginTop="Spacing.Five">Large</Heading>
<Button Color="NamedColor.Primary" Size="ButtonSize.Large">Large button</Button>
<Button Color="NamedColor.Secondary" Size="ButtonSize.Large">Large button</Button>

<Heading Id="sizes-small" IsAnchor="true" Level="HeadingLevel.H4" MarginTop="Spacing.Five">Small</Heading>
<Button Color="NamedColor.Primary" Size="ButtonSize.Small">Small button</Button>
<Button Color="NamedColor.Secondary" Size="ButtonSize.Small">Small button</Button>

<Heading Id="sizes-block-level" IsAnchor="true" Level="HeadingLevel.H4" MarginTop="Spacing.Five">Block-Level</Heading>
<Button Color="NamedColor.Primary" IsBlockLevel="true">Primary</Button>
<Button Color="NamedColor.Secondary" IsBlockLevel="true">Secondary</Button>


<Heading Id="active-state" IsAnchor="true" Level="HeadingLevel.H3" MarginTop="Spacing.Five">Active State</Heading>
<Button Color="NamedColor.Secondary" Size="ButtonSize.Large" IsActive="@isActive">Primary Button</Button>
<Button Clicked="ToggleIsActive" class="btn-link">Toggle</Button>

@code {
    bool isActive = true;
    void ToggleIsActive()
    {
        isActive = !isActive;
    }
}


<Heading Id="disabled-state" IsAnchor="true" Level="HeadingLevel.H3" MarginTop="Spacing.Five">Disabled State</Heading>
<Button Color="NamedColor.Primary" Size="ButtonSize.Large" IsDisabled="@isDisabled">Primary Button</Button>
<Button Clicked="ToggleIsDisabled" class="btn-link">Toggle</Button>

@code {
    bool isDisabled = false;
    void ToggleIsDisabled()
    {
        isDisabled = !isDisabled;
    }
}


<Heading Id="button-groups" IsAnchor="true" Level="HeadingLevel.H3" MarginTop="Spacing.Five">Button Groups</Heading>

<ButtonGroup>
    <Button Color="NamedColor.Success">Left</Button>
    <Button Color="NamedColor.Info">Middle</Button>
    <Button Color="NamedColor.Warning">Right</Button>
</ButtonGroup>

<Heading Id="button-toolbars" IsAnchor="true" Level="HeadingLevel.H3" MarginTop="Spacing.Five">Button Toolbars</Heading>

<ButtonToolbar>
    <ButtonGroup MarginRight="Spacing.Two">
        <Button Color="NamedColor.Secondary">1</Button>
        <Button Color="NamedColor.Secondary">2</Button>
        <Button Color="NamedColor.Secondary">3</Button>
        <Button Color="NamedColor.Secondary">4</Button>
    </ButtonGroup>
    <ButtonGroup MarginRight="Spacing.Two">
        <Button Color="NamedColor.Secondary">5</Button>
        <Button Color="NamedColor.Secondary">6</Button>
        <Button Color="NamedColor.Secondary">7</Button>
    </ButtonGroup>
    <ButtonGroup MarginRight="Spacing.Two">
        <Button Color="NamedColor.Secondary">8</Button>
    </ButtonGroup>
</ButtonToolbar>


<Heading Id="handling-clicks" IsAnchor="true" Level="HeadingLevel.H3" MarginTop="Spacing.Five">Handling Clicks</Heading>

@code {
    int count = 0;

    private void OnCountClick()
    {
        count++;
    }
}
<Button Color="NamedColor.Dark" IsOutline="true" Clicked="this.OnCountClick">Clicked: <Badge Color="NamedColor.Primary">@count</Badge></Button>

<Paragraph></Paragraph>