
<h2>Buttons</h2>

<Button Color="ComponentColor.Primary">Primary</Button>
<Button Color="ComponentColor.Secondary">Secondary</Button>
<Button Color="ComponentColor.Success">Success</Button>
<Button Color="ComponentColor.Danger">Danger</Button>
<Button Color="ComponentColor.Warning">Warning</Button>
<Button Color="ComponentColor.Info">Info</Button>
<Button Color="ComponentColor.Light">Light</Button>
<Button Color="ComponentColor.Dark">Dark</Button>
<Button IsLink="true" Link="http://github.com">Link</Button>


<h2>Outline Buttons</h2>

<Button Color="ComponentColor.Primary" IsOutline="true">Primary</Button>
<Button Color="ComponentColor.Secondary" IsOutline="true">Secondary</Button>
<Button Color="ComponentColor.Success" IsOutline="true">Success</Button>
<Button Color="ComponentColor.Danger" IsOutline="true">Danger</Button>
<Button Color="ComponentColor.Warning" IsOutline="true">Warning</Button>
<Button Color="ComponentColor.Info" IsOutline="true">Info</Button>
<Button Color="ComponentColor.Light" IsOutline="true">Light</Button>
<Button Color="ComponentColor.Dark" IsOutline="true">Dark</Button>


<h2>Sizes</h2>

<h3>Large</h3>
<Button Color="ComponentColor.Primary" Size="ButtonSize.Large">Large button</Button>
<Button Color="ComponentColor.Secondary" Size="ButtonSize.Large">Large button</Button>

<h3>Small</h3>
<Button Color="ComponentColor.Primary" Size="ButtonSize.Small">Small button</Button>
<Button Color="ComponentColor.Secondary" Size="ButtonSize.Small">Small button</Button>

<h3>Block-Level</h3>
<Button Color="ComponentColor.Primary" IsBlockLevel="true">Primary</Button>
<Button Color="ComponentColor.Secondary" IsBlockLevel="true">Secondary</Button>


<h2>Active State</h2>
<Button Color="ComponentColor.Secondary" Size="ButtonSize.Large" IsActive="@isActive">Primary Button</Button>
<Button IsLink="true" OnClick="ToggleIsActive">Toggle</Button>

@code {
    bool isActive = true;
    void ToggleIsActive()
    {
        isActive = !isActive;
    }
}


<h2>Disabled State</h2>
<Button Color="ComponentColor.Primary" Size="ButtonSize.Large" IsDisabled="@isDisabled">Primary Button</Button>
<Button IsLink="true" OnClick="ToggleIsDisabled">Toggle</Button>

@code {
    bool isDisabled = false;
    void ToggleIsDisabled()
    {
        isDisabled = !isDisabled;
    }
}


<h2>Button Groups</h2>

<ButtonGroup>
    <Button Color="ComponentColor.Success">Left</Button>
    <Button Color="ComponentColor.Info">Middle</Button>
    <Button Color="ComponentColor.Warning">Right</Button>
</ButtonGroup>

<h2>Button Toolbars</h2>

<ButtonToolbar>
    <ButtonGroup>
        <Button Color="ComponentColor.Secondary">1</Button>
        <Button Color="ComponentColor.Secondary">2</Button>
        <Button Color="ComponentColor.Secondary">3</Button>
        <Button Color="ComponentColor.Secondary">4</Button>
    </ButtonGroup>
    <ButtonGroup>
        <Button Color="ComponentColor.Secondary">5</Button>
        <Button Color="ComponentColor.Secondary">6</Button>
        <Button Color="ComponentColor.Secondary">7</Button>
    </ButtonGroup>
    <ButtonGroup>
        <Button Color="ComponentColor.Secondary">8</Button>
    </ButtonGroup>
</ButtonToolbar>
