@code {
    Spacing marginTop = Spacing.Five;
}


<Heading Level="HeadingLevel.H2">Nav Component</Heading>
<Paragraph>
    The <code>Nav</code> component provides a simple way to build navigation elements.
</Paragraph>

<DocsSection ComponentName="Nav" />


<Heading Id="alignment" IsAnchor="true" Level="HeadingLevel.H3" MarginTop="@marginTop">Alignment</Heading>
<Paragraph>
    The contents of a <code>Nav</code> component can be aligned. The default is left aligned, but you can also
    set it to center or right.
</Paragraph>

<Nav>
    <NavItemLink IsActive="true">Active</NavItemLink>
    <NavItemLink>Link</NavItemLink>
    <NavItemLink>Link</NavItemLink>
    <NavItemLink IsDisabled="true">Disabled</NavItemLink>
</Nav>
<Nav ContentAlignment="NavContentAlignment.Center">
    <NavItemLink IsActive="true">Active</NavItemLink>
    <NavItemLink>Link</NavItemLink>
    <NavItemLink>Link</NavItemLink>
    <NavItemLink IsDisabled="true">Disabled</NavItemLink>
</Nav>
<Nav ContentAlignment="NavContentAlignment.Right">
    <NavItemLink IsActive="true">Active</NavItemLink>
    <NavItemLink>Link</NavItemLink>
    <NavItemLink>Link</NavItemLink>
    <NavItemLink IsDisabled="true">Disabled</NavItemLink>
</Nav>
