@inherits ColoredBootstrapComponentBase

<div>
    @* 
        We must wrap the alert component with an additional div that represents the root of our component. This is because
        Bootstrap removes the alert element from the DOM when it is dismissed. This is done by the Bootstrap JavaScript, which
        will cause problems for the Blazor rendering.
    *@

    <div @attributes="this.Attributes" role="alert">
        @if (this.IsDismissible)
        {
            <button type="button" class="@ClassNames.Buttons.Close" aria-label="Close" @onclick="this.DismissAsync">
                <span aria-hidden="true">&times;</span>
            </button>
        }

        @if (null != this.HeadingTemplate)
        {
            @this.HeadingTemplate
        }
        else if (!string.IsNullOrEmpty(this.Heading))
        {
            <Heading Level="HeadingLevel.H4" class="alert-heading">@this.Heading</Heading>
        }

        @ChildContent
    </div>
</div>
