@inherits ColoredBootstrapComponentBase

@if (string.IsNullOrEmpty(this.Link))
{
    <button @attributes="this.Attributes" @onclick="this.OnClick">
        @this.ChildContent
    </button>
}
else
{
    <a @attributes="this.Attributes" @onclick="this.OnClick">@this.ChildContent</a>
}
