@inherits CardHeaderBase

@if (!this.Level.HasValue)
{
    <div @attributes="this.Attributes">
        @this.ChildContent
    </div>
}
else
{
    <Heading Level="this.Level.Value" @attributes="this.Attributes">@this.ChildContent</Heading>
}
