@inherits BootstrapComponentBase


<a @attributes="this.Attributes">
    <span class="carousel-control-@(this.Direction == CarouselControlDirection.Next ? "next" : "prev")-icon" aria-hidden="true"></span>
</a>
