@inherits CarouselBase

    <div @attributes="this.Attributes">
        @this.ChildContent

        @if (this.ShowControls)
        {
            <CarouselControl Direction="CarouselControlDirection.Previous"></CarouselControl>
            <CarouselControl Direction="CarouselControlDirection.Next"></CarouselControl>
        }
    </div>
