@inherits NavItemBase

<li @attributes="this.Attributes">
    @if (null != this.ChildContent)
    {
        @this.ChildContent
    }
    else
    {
        <Anchor Url="@this?.Item?.Url" Text="@this?.Item?.Text" class="@ClassNames.Navbars.NavLink" />
    }
</li>