@inherits BootstrapComponentBase
@implements IMenuItem

<li @attributes="this.Attributes">
    @if (null != this.ChildContent)
    {
        @this.ChildContent
    }
    else
    {
        <Anchor Link="@this.Item" class="@ClassNames.Navbars.NavLink" />
    }
</li>