@inherits BootstrapComponentBase
@implements IMenuItem

<li @attributes="this.Attributes">
    @if (null != this.ChildContent)
    {
        @this.ChildContent
    }
    else
    {
        <NavItemLink Link="@this.Item" />
    }
</li>