@page "/"

<h1 class="@ClassNames.Headings.Display2">Blazor Bootstap Test Host</h1>

This is a Blazor Server application demonstrating the use of the <a href="https://github.com/MikaBerglund/Blazor-Bootstrap">Blazor Bootstrap</a> component library.

