@page "/"

<h1 class="@ClassNames.Headings.Display3">Blazorade Bootstap Test Host</h1>

This is a Blazor Server application demonstrating the use of the <a href="https://github.com/Blazorade/Blazorade-Bootstrap">Blazorade Bootstrap</a> component library.
