@page "/components"

<h1>Components</h1>

<h2>Alerts</h2>

<Alert Id="alert-none">Alert (no context)</Alert>
<Alert Id="alert-primary" StyleContext="ComponentStyleContext.Primary">Primary Alert</Alert>
<Alert Id="alert-secondary" StyleContext="ComponentStyleContext.Secondary">Secondary Alert</Alert>
<Alert Id="alert-success" StyleContext="ComponentStyleContext.Success">Success Alert</Alert>
<Alert Id="alert-danger" StyleContext="ComponentStyleContext.Danger">Danger Alert</Alert>
<Alert Id="alert-warning" StyleContext="ComponentStyleContext.Warning">Warning Alert</Alert>
<Alert Id="alert-info" StyleContext="ComponentStyleContext.Info">Info Alert</Alert>
<Alert Id="alert-light" StyleContext="ComponentStyleContext.Light">Light Alert</Alert>
<Alert Id="alert-dark" StyleContext="ComponentStyleContext.Dark">Dark Alert</Alert>


@code {

}
