@page "/components"

<h1>Components</h1>

<h2>Alerts</h2>

<Alert Id="alert-none">Alert (no context)</Alert>
<Alert Id="alert-primary" StyleContext="ComponentStyleContext.Primary">Primary Alert</Alert>
<Alert Id="alert-secondary" StyleContext="ComponentStyleContext.Secondary">Secondary Alert</Alert>

@code {

}
