@page "/components"

<Heading Size="HeadingSize.H1" Display="HeadingDisplay.Display2">Blazor Bootstrap Elements</Heading>

<Heading Size="HeadingSize.H2">Typography</Heading>
<Heading Size="HeadingSize.H3">Headings</Heading>

<Heading Size="HeadingSize.H1">Heading 1</Heading>
<Heading Size="HeadingSize.H2">Heading 2</Heading>
<Heading Size="HeadingSize.H3">Heading 3</Heading>
<Heading Size="HeadingSize.H4">Heading 4</Heading>
<Heading Size="HeadingSize.H5">Heading 5</Heading>
<Heading Size="HeadingSize.H6">Heading 6</Heading>


<Heading Size="HeadingSize.H3">Display Headings</Heading>
<p>Display headings are slightly bigger to make them stand out more.</p>
<Heading Size="HeadingSize.H1" Display="HeadingDisplay.Display1">H1. Display 1</Heading>
<Heading Size="HeadingSize.H1" Display="HeadingDisplay.Display2">H1. Display 2</Heading>
<Heading Size="HeadingSize.H1" Display="HeadingDisplay.Display3">H1. Display 3</Heading>
<Heading Size="HeadingSize.H1" Display="HeadingDisplay.Display4">H1. Display 4</Heading>

<Heading Size="HeadingSize.H3">Lead</Heading>

<LeadParagraph>Make a paragraph stand out with the <code>&lt;LeadParagraph /&gt;</code> element.</LeadParagraph>



<Heading Size="HeadingSize.H2">Components</Heading>
<Heading Size="HeadingSize.H3">Alerts</Heading>

<Alert Id="alert-none">Alert (no context)</Alert>
<Alert Id="alert-primary" ComponentStyle="ComponentStyle.Primary">Primary Alert</Alert>
<Alert Id="alert-secondary" ComponentStyle="ComponentStyle.Secondary">Secondary Alert</Alert>
<Alert Id="alert-success" ComponentStyle="ComponentStyle.Success">Success Alert</Alert>
<Alert Id="alert-danger" ComponentStyle="ComponentStyle.Danger">Danger Alert</Alert>
<Alert Id="alert-warning" ComponentStyle="ComponentStyle.Warning">Warning Alert</Alert>
<Alert Id="alert-info" ComponentStyle="ComponentStyle.Info">Info Alert</Alert>
<Alert Id="alert-light" ComponentStyle="ComponentStyle.Light">Light Alert</Alert>
<Alert Id="alert-dark" ComponentStyle="ComponentStyle.Dark">Dark Alert</Alert>


@code {

}
