@page "/login"

<Card Header="Login">
    <TextTemplate>

    </TextTemplate>
    <LinkSectionTemplate>
        <Div Container="ContainerType.Fluid">
            <Button Color="NamedColor.Primary" class="text-right">Log in</Button>
            <Button Color="NamedColor.Light" Link="/">Cancel</Button>
        </Div>
    </LinkSectionTemplate>
</Card>