@inherits BootstrapComponentBase

    <div @attributes="this.Attributes">
        @if (!string.IsNullOrEmpty(this.ImageUrl))
        {
            <CarouselImage Src="@this.ImageUrl" />
        }
        else
        {
            @this.ChildContent
        }
    </div>
