@inherits CarouselItem

<CarouselItem @attributes="@this.Attributes">
    <Div style="@($"background-position: center; background-size: {this.BackgroundSize}; background-image: url({this.ImageUrl})")" Width="ComponentSize.p100" Height="ComponentSize.p100" class="d-block">&nbsp;</Div>
    @if(!string.IsNullOrEmpty(this.CaptionTitle) || !string.IsNullOrEmpty(this.CaptionBody))
    {
        <Div class="carousel-caption d-md-block">
            @if (!string.IsNullOrEmpty(this.CaptionTitle))
            {
                <Heading Level="HeadingLevel.H5">@this.CaptionTitle</Heading>
            }
            @if(!string.IsNullOrEmpty(this.CaptionBody))
            {
                <Paragraph>@this.CaptionBody</Paragraph>
            }
        </Div>
    }
</CarouselItem>
