@inherits BootstrapComponentBase

<Div @attributes="this.Attributes">
    @if (!string.IsNullOrEmpty(this.AddonText))
    {
        <Span class="@ClassNames.InputGroups.Text">@this.AddonText</Span>
    }
    @this.ChildContent
</Div>