@inherits BootstrapComponentBase

    <Div @attributes="this.Attributes">
        <JumbotronContent IsFluid="this.IsFluid" ContainerType="this.FluidContainerType">
            @if (null != this.HeadingTemplate)
            {
                @this.HeadingTemplate(this.Heading)
            }
            else
            {
                <Heading Level="1" Display="4">@this.Heading</Heading>
            }

            @if (!string.IsNullOrEmpty(this.Lead))
            {
                <Paragraph IsLead="true">@this.Lead</Paragraph>
            }

            @this.ChildContent
        </JumbotronContent>
    </Div>