@inherits Anchor

<li class="page-item @( this.IsActive ? "active" : "") @( this.IsDisabled ? "disabled" : "")">
    <a @attributes="this.Attributes" class="page-link" @onclick="this.OnClickedAsync">
        @if(!string.IsNullOrEmpty(this.Text))
        {
            @this.Text
        }
        else
        {
            @this.ChildContent
        }
    </a>
</li>