@inherits ColoredBootstrapComponentBase

@if(null == this.ChildContent)
{
    <Div @attributes="this.Attributes"></Div>
}
else
{
<Div class="d-flex align-items-center">
    @if (null == this.ContentAlignment || this.ContentAlignment == HorizontalAlignment.Left)
    {
        @this.ChildContent
    }
    <Div @attributes="this.Attributes"></Div>
    @if (this.ContentAlignment == HorizontalAlignment.Right)
    {
        @this.ChildContent
    }
</Div>
}
