@inherits BootstrapComponentBase

<button @attributes="this.Attributes">
    <span aria-hidden="true">&times;</span>
</button>

@code { 
    override protected async Task OnParametersSetAsync()
    {
        this.AddClasses("close");
        this.AddAttribute("type", "button");
        this.AddAttribute("aria-label", "Close");
        await base.OnParametersSetAsync();
    }
}