@page "/"

<Heading Level="HeadingLevel.H1">Blazor Bootstrap</Heading>

<Alert Color="NamedColor.Info" IsDismissible="true">
    This application is just a simple demonstration of what you need to add to your Blazor application. For more information about Blazor Bootstrap, visit the <a href="https://github.com/MikaBerglund/Blazor-Bootstrap/wiki" target="_blank">Wiki on GitHub</a>.
</Alert>

<p>
    This application demonstrates how to get started with Blazor Bootsrap, a Razor component library for Blazor applications.
</p>
