
<h3>Badges</h3>

<h1>Example heading <Badge ComponentStyle="ComponentStyle.Primary">New</Badge></h1>
<h2>Example heading <Badge ComponentStyle="ComponentStyle.Primary">New</Badge></h2>
<h3>Example heading <Badge ComponentStyle="ComponentStyle.Primary">New</Badge></h3>
<h4>Example heading <Badge ComponentStyle="ComponentStyle.Primary">New</Badge></h4>
<h5>Example heading <Badge ComponentStyle="ComponentStyle.Primary">New</Badge></h5>
<h6>Example heading <Badge ComponentStyle="ComponentStyle.Primary">New</Badge></h6>


<p>You can use badges in buttons too, as counters for instance.</p>
<Button ComponentStyle="ComponentStyle.Primary" OnClick="IncrementBadgeCount">
    Counter <Badge ComponentStyle="ComponentStyle.Light">@currentBadgeCount</Badge>
</Button>

@code {
    int currentBadgeCount = 0;

    void IncrementBadgeCount()
    {
        currentBadgeCount++;
    }
}

<h4>Contextual Variations</h4>

<Badge ComponentStyle="ComponentStyle.Primary">Primary</Badge>
<Badge ComponentStyle="ComponentStyle.Secondary">Secondary</Badge>
<Badge ComponentStyle="ComponentStyle.Success">Success</Badge>
<Badge ComponentStyle="ComponentStyle.Danger">Danger</Badge>
<Badge ComponentStyle="ComponentStyle.Warning">Warning</Badge>
<Badge ComponentStyle="ComponentStyle.Info">Info</Badge>
<Badge ComponentStyle="ComponentStyle.Light">Light</Badge>
<Badge ComponentStyle="ComponentStyle.Dark">Dark</Badge>


<h4>Pill Badges</h4>

<Badge ComponentStyle="ComponentStyle.Primary" IsPill="true">Primary</Badge>
<Badge ComponentStyle="ComponentStyle.Secondary" IsPill="true">Secondary</Badge>
<Badge ComponentStyle="ComponentStyle.Success" IsPill="true">Success</Badge>
<Badge ComponentStyle="ComponentStyle.Danger" IsPill="true">Danger</Badge>
<Badge ComponentStyle="ComponentStyle.Warning" IsPill="true">Warning</Badge>
<Badge ComponentStyle="ComponentStyle.Info" IsPill="true">Info</Badge>
<Badge ComponentStyle="ComponentStyle.Light" IsPill="true">Light</Badge>
<Badge ComponentStyle="ComponentStyle.Dark" IsPill="true">Dark</Badge>

<h4>Link Badges</h4>

<Badge ComponentStyle="ComponentStyle.Primary" Link="#">Primary</Badge>
<Badge ComponentStyle="ComponentStyle.Secondary" Link="#">Secondary</Badge>
<Badge ComponentStyle="ComponentStyle.Success" Link="#">Success</Badge>
<Badge ComponentStyle="ComponentStyle.Danger" Link="#">Danger</Badge>
<Badge ComponentStyle="ComponentStyle.Warning" Link="#">Warning</Badge>
<Badge ComponentStyle="ComponentStyle.Info" Link="#">Info</Badge>
<Badge ComponentStyle="ComponentStyle.Light" Link="#">Light</Badge>

