@inherits BootstrapComponentBase
@implements ILink

<a @attributes="this.Attributes" @onclick="this.OnClickedAsync">
    @if(string.IsNullOrEmpty(this.Text))
    {
        @this.ChildContent
    }
    else
    {
        @this.Text
    }
</a>
