@page "/"

<Heading Level="HeadingLevel.H1" Display="3">Blazorade Bootstrap Showroom</Heading>

<Paragraph>
    This is a Blazor WebAssembly application demonstrating the use of the <a href="https://github.com/Blazorade/Blazorade-Bootstrap">Blazorade Bootstrap</a> component library.
</Paragraph>
<Paragraph>
    Read more about the Blazorade Bootstrap component library on the GitHub wiki at <Anchor Url="https://github.com/Blazorade/Blazorade-Bootstrap/wiki" OpenInNewTab="true">https://github.com/Blazorade/Blazorade-Bootstrap/wiki</Anchor>
</Paragraph>
