
<Heading Level="HeadingLevel.H2">Badge Component</Heading>
<Paragraph>
    The Badge component is used to add counts and labels to other components.
</Paragraph>


<DocsSection ComponentName="Badge" />


<Heading Id="with-headings" IsAnchor="true" Level="HeadingLevel.H3" MarginTop="Spacing.S5">With Headings</Heading>
<Paragraph>
    You can use a <code>Badge</code> component inside a <code>Heading</code> component, and it will automatically adjust its size.
</Paragraph>

<Heading Id="h1" IsAnchor="true" Level="HeadingLevel.H1">Example heading <Badge Color="NamedColor.Primary">New</Badge></Heading>
<Heading Id="h2" IsAnchor="true" Level="HeadingLevel.H2">Example heading <Badge Color="NamedColor.Primary">New</Badge></Heading>
<Heading Id="h3" IsAnchor="true" Level="HeadingLevel.H3">Example heading <Badge Color="NamedColor.Primary">New</Badge></Heading>
<Heading Id="h4" IsAnchor="true" Level="HeadingLevel.H4">Example heading <Badge Color="NamedColor.Primary">New</Badge></Heading>
<Heading Id="h5" IsAnchor="true" Level="HeadingLevel.H5">Example heading <Badge Color="NamedColor.Primary">New</Badge></Heading>
<Heading Id="h6" IsAnchor="true" Level="HeadingLevel.H6">Example heading <Badge Color="NamedColor.Primary">New</Badge></Heading>


<Heading Id="with-buttons" IsAnchor="true" Level="HeadingLevel.H3" MarginTop="Spacing.S5">With Buttons</Heading>
<Paragraph>
    You can use badges in buttons too, as counters for instance.
</Paragraph>

<Button Color="NamedColor.Primary" OnClicked="IncrementBadgeCount">
    Counter <Badge Color="NamedColor.Light">@currentBadgeCount</Badge>
</Button>




@code {
    int currentBadgeCount = 0;

    void IncrementBadgeCount()
    {
        currentBadgeCount++;
    }
}

<Heading Id="content-variations" IsAnchor="true" Level="HeadingLevel.H3" MarginTop="Spacing.S5">Contextual Variations</Heading>
<Paragraph>
    The <code>Badge</code> component supports using different named colours.
</Paragraph>

<Badge Color="NamedColor.Primary">Primary</Badge>
<Badge Color="NamedColor.Secondary">Secondary</Badge>
<Badge Color="NamedColor.Success">Success</Badge>
<Badge Color="NamedColor.Danger">Danger</Badge>
<Badge Color="NamedColor.Warning">Warning</Badge>
<Badge Color="NamedColor.Info">Info</Badge>
<Badge Color="NamedColor.Light">Light</Badge>
<Badge Color="NamedColor.Dark">Dark</Badge>


<Heading Id="pill-badges" IsAnchor="true" Level="HeadingLevel.H3" MarginTop="Spacing.S5">Pill Badges</Heading>
<Paragraph>
    Pill badges have rounded corners.
</Paragraph>

<Badge Color="NamedColor.Primary" IsPill="true">Primary</Badge>
<Badge Color="NamedColor.Secondary" IsPill="true">Secondary</Badge>
<Badge Color="NamedColor.Success" IsPill="true">Success</Badge>
<Badge Color="NamedColor.Danger" IsPill="true">Danger</Badge>
<Badge Color="NamedColor.Warning" IsPill="true">Warning</Badge>
<Badge Color="NamedColor.Info" IsPill="true">Info</Badge>
<Badge Color="NamedColor.Light" IsPill="true">Light</Badge>
<Badge Color="NamedColor.Dark" IsPill="true">Dark</Badge>


<Heading Id="link-badges" IsAnchor="true" Level="HeadingLevel.H3" MarginTop="Spacing.S5">Link Badges</Heading>
<Paragraph>
    Badges can act as links too.
</Paragraph>

<Badge Color="NamedColor.Primary" Url="#link-badges" OpenInNewTab="true">Primary</Badge>
<Badge Color="NamedColor.Secondary" Url="#link-badges" OpenInNewTab="true">Secondary</Badge>
<Badge Color="NamedColor.Success" Url="#link-badges" OpenInNewTab="true">Success</Badge>
<Badge Color="NamedColor.Danger" Url="#link-badges" OpenInNewTab="true">Danger</Badge>
<Badge Color="NamedColor.Warning" Url="#link-badges" OpenInNewTab="true">Warning</Badge>
<Badge Color="NamedColor.Info" Url="#link-badges" OpenInNewTab="true">Info</Badge>
<Badge Color="NamedColor.Light" Url="#link-badges" OpenInNewTab="true">Light</Badge>
