@code {
    Spacing marginTop = Spacing.Five;
}


<Heading Level="HeadingLevel.H2">Nav Component</Heading>
<Paragraph>
    The <code>Nav</code> component provides a simple way to build navigation elements.
</Paragraph>

<DocsSection ComponentName="Nav" />


<Heading Id="alignment" IsAnchor="true" Level="HeadingLevel.H3" MarginTop="@marginTop">Alignment</Heading>
<Paragraph>
    The contents of a <code>Nav</code> component can be aligned. The default is left aligned, but you can also
    set it to center or right. <WikiLink Page="Nav" Section="alignment"></WikiLink>
</Paragraph>

<Nav>
    <NavItem IsActive="true">Active</NavItem>
    <NavItem>Link</NavItem>
    <NavItem IsDisabled="true">Disabled</NavItem>
</Nav>
<Nav ContentAlignment="ContentAlignment.Center">
    <NavItem IsActive="true">Active</NavItem>
    <NavItem>Link</NavItem>
    <NavItem IsDisabled="true">Disabled</NavItem>
</Nav>
<Nav ContentAlignment="ContentAlignment.Right">
    <NavItem IsActive="true">Active</NavItem>
    <NavItem>Link</NavItem>
    <NavItem IsDisabled="true">Disabled</NavItem>
</Nav>
