<Heading Level="HeadingLevel.H2">Sizing</Heading>

<Heading Level="HeadingLevel.H3">Width</Heading>
<Div BackgroundColor="NamedColor.Dark">
    <Div Width="Size.P25" BackgroundColor="NamedColor.Light" Padding="2" MarginBottom="1">25%</Div>
    <Div Width="Size.P50" BackgroundColor="NamedColor.Light" Padding="2" MarginBottom="1">50%</Div>
    <Div Width="Size.P75" BackgroundColor="NamedColor.Light" Padding="2" MarginBottom="1">75%</Div>
    <Div Width="Size.P100" BackgroundColor="NamedColor.Light" Padding="2" MarginBottom="1">100%</Div>
    <Div Width="Size.Auto" BackgroundColor="NamedColor.Light" Padding="2">Auto</Div>
</Div>

<Heading Level="HeadingLevel.H3" MarginTop="Spacing.S5">Height</Heading>
<Div BackgroundColor="NamedColor.Dark" style="height: 200px">
    <Div Height="Size.P25" BackgroundColor="NamedColor.Light" Padding="2" class="d-inline-block">25%</Div>
    <Div Height="Size.P50" BackgroundColor="NamedColor.Light" Padding="2" class="d-inline-block">50%</Div>
    <Div Height="Size.P75" BackgroundColor="NamedColor.Light" Padding="2" class="d-inline-block">75%</Div>
    <Div Height="Size.P100" BackgroundColor="NamedColor.Light" Padding="2" class="d-inline-block">100%</Div>
    <Div Height="Size.Auto" BackgroundColor="NamedColor.Light" Padding="2" class="d-inline-block">Auto</Div>
</Div>