<Heading Level="2">Tooltips</Heading>
<Paragraph>
    Tooltips allow you to add additional information to any component.
</Paragraph>

<DocsSection ComponentName="Tooltip" />


<Heading Id="placement" IsAnchor="true" Level="3" MarginTop="5">Placement</Heading>
<Paragraph>
    You can configure a default placement for all your tooltips, or customize the placement for each component separately.
</Paragraph>

<Button Color="NamedColor.Secondary" Tooltip="Tooltip on top" TooltipPlacement="TooltipPlacement.Top">Tooltip on top</Button>
<Button Color="NamedColor.Secondary" Tooltip="Tooltip on right" TooltipPlacement="TooltipPlacement.Right" MarginLeft="1">Tooltip on right</Button>
<Button Color="NamedColor.Secondary" Tooltip="Tooltip on bottom" TooltipPlacement="TooltipPlacement.Bottom" MarginLeft="1">Tooltip on bottom</Button>
<Button Color="NamedColor.Secondary" Tooltip="Tooltip on left" TooltipPlacement="TooltipPlacement.Left" MarginLeft="1">Tooltip on left</Button>



<Heading Id="html-content" IsAnchor="true" Level="3" MarginTop="5">HTML Content</Heading>
<Paragraph>
    You can also have HTML content in your tooltips, if you enable it in the tooltip options.
</Paragraph>

<Button Color="NamedColor.Secondary" Tooltip="I would like to <u>underline</u> and <em>emphasize</em>, that this is a toolip with <b>bold</b> and <span style='color: #f99;'>beautiful</span> text.">Tooltip with HTML</Button>