<Heading Level="2">Tooltips</Heading>

<Button Color="NamedColor.Primary" Tooltip="Hello, I'm a tooltip!">Hover Me!</Button>
<Span MarginTop="3" Tooltip="This is a toolip with <b>bold</b> and <span style='color: #f99;'>beautiful</span> text.">Hover me to see a tooltip with HTML markup.</Span>